    <script>
      (function () {
        var t;
        try { t = localStorage.getItem('tp-theme'); } catch (e) {}
        if (t !== 'light' && t !== 'dark') t = 'light';
        document.documentElement.setAttribute('data-bs-theme', t);
      })();
    </script>

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/swiper-bundle.min.css"/>

    <style>
      @font-face {
        font-family: Audiowide;
        src: url("/fonts/Audiowide-Regular.ttf");
      }

      @font-face {
        font-family: Exo;
        src: url("/fonts/Exo-VariableFont_wght.ttf");
        font-style: normal;
      }

      @font-face {
        font-family: Exo;
        src: url("/fonts/Exo-Italic-VariableFont_wght.ttf");
        font-style: italic;
      }

      .prem-font {
        font-family: Audiowide;
      }

      h1,h2,h3,h4,h5,h6 {
        font-family: Exo;
      }

      * {
        font-family: Exo;
      }

      .shield-button {
        height: 40px
      }

      @media (min-width: 992px) {
        .shield-button {
          height: 35px
        }
      }
    </style>
  </head>
  <body>
    <div id="waveBg" aria-hidden="true"></div>
